nav {
    background-color: #141418;
    color: white;
    height: 70px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 1000;
    width: 100%;
    top: 0;
}

.container-fluid {
    margin: 100px;
}

@media screen and (max-width: 1000px) {
    .container-fluid {
        margin: 5px;
    }
}

.dropdown-menu {
    background-color: #d3cdcd23;
    backdrop-filter: blur(5px);
}

.dropdown-item:hover {
    background-color: #fcfbfb25;
    width: 95%;
    border-radius: 10px;
    margin-left: 4px;
}

.search-form {
    position: relative;
}

/* Campo escondido inicialmente */
.search-input {
    width: 0;
    opacity: 0;
    padding: 0;
    border: none;
    transition: all 0.4s ease;
}

/* Quando o input é mostrado */
.search-input.show {
    width: 200px;
    /* ajuste conforme desejar */
    opacity: 1;
    padding: 0.375rem 0.75rem;
    /* restaura padding padrão do Bootstrap */
    border: 1px solid #ced4da;
}

.nav-link:hover {
    color: #ffffff7e !important;
}